/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.25;
}
/* Global Styles */

/* Index (app) */
.indexPage {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.indexItem {
  width: 30%;
  height: 90%;
  background-color: #d8e1e8;
  position: absolute;
  top: 5%;
  left: 35%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}
/* Index (app) */

/* Home */
.homePage {
  background-image: linear-gradient(#304674, #d8e1e8);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 15px;
}

.homePageitem {
  margin-top: 27%;
}

.homePageDesc {
  margin: 1em auto;
  width: 80%;
}

.homePageDesc h2 {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  margin-top: 1em;
}

.homePageDesc h4 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 12px;
}

.homeButton {
  width: 80%;
  padding: 5px 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: #304674;
  color: #d8e1e8;
  border-radius: 30px;
  margin-top: 0.5em;
}
/* Home */

/* Location Services */
.locationPage h2 {
  font-weight: 700;
  font-size: 22px;
}

.locationPage p {
  margin: 1em auto;
  width: 70%;
  font-size: 13px;
}

.locationServicesButton {
  width: 80%;
  padding: 5px 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: #304674;
  color: #d8e1e8;
  border-radius: 30px;
  margin-top: 0.5em;
}

.locationServicesButton-not-allow {
  width: 80%;
  padding: 5px 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  color: #304674;
  border-radius: 30px;
  margin-top: 0.5em;
}
/* Location Services */

/* maps-overlay */ /* idk why need set the height */
.maps-overlay-page {
  display: grid;
  grid-template-rows: 85% 15%; /* This sets the 90-10 ratio */
  height: 100%;
}

/* maps-overlay-searchbar */
.maps-overlay-searchbar {
  position: absolute;
  top: 5%;
  left: 7%;
  width: 85%;
  background: #d8e1e8;
  margin: auto;
  border-radius: 20px;
  z-index: 10;
  box-shadow: 2px 2px 2px grey;
}

.maps-overlay-searchbar-row {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}

.maps-overlay-searchbar-row input {
  flex: 1;
  height: 10%;
  background: transparent;
  border: 0;
  outline: 0;
  color: #756c6c;
}

.maps-overlay-searchbar-icon {
  cursor: pointer;
}
/* maps-overlay-searchbar */

/* maps-overlay-navbar */
.maps-overlay-navbar {
  background-color: #304674;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.maps-overlay-navItem {
  margin: 0.7em 0;
  cursor: pointer;
  width: 15%;
}

.maps-overlay-navItem h5 {
  margin: 0;
  color: #e3e3e3;
}
/* maps-overlay-navbar */
/* maps-overlay */

/* map */
.map {
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 75vh;
}
/* map */
