/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.25;
}
/* Global Styles */

/* Index (app) */
.indexPage {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.indexItem {
  width: 30%;
  height: 90%;
  background-color: #d8e1e8;
  position: absolute;
  top: 5%;
  left: 35%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}
/* Index (app) */

/* Home (app) */
.homePage {
  margin-top: 20%;
}

.homePageDesc {
  margin: 1em auto;
  width: 80%;
}

.homePageDesc h2 {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  margin-top: 0.5em;
}

.homePageDesc h4 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 12px;
}

.homeButton {
  width: 80%;
  padding: 5px 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: #304674;
  color: white;
  border-radius: 30px;
  margin-top: 0.5em;
}
/* Home (app) */
