
/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.25;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #afafaf;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #afafaf;
}
/* Global Styles */

/* Index (app) */
.indexPage {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.indexItem {
  width: 30%;
  height: 90%;
  background-color: #d8e1e8;
  position: absolute;
  top: 5%;
  left: 35%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}
/* Index (app) */

/* Home */
.homePage {
  background-image: linear-gradient(#304674, #d8e1e8);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 15px;
}

.homePageitem {
  margin-top: 27%;
}

.homePageDesc {
  margin: 1em auto;
  width: 80%;
}

.homePageDesc h2 {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  margin-top: 1em;
}

.homePageDesc h4 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 12px;
}

.homeButton {
  width: 80%;
  padding: 5px 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: #304674;
  color: #d8e1e8;
  border-radius: 30px;
  margin-top: 0.5em;
}
/* Home */

/* Location Services */
.locationPage h2 {
  font-weight: 700;
  font-size: 22px;
}

.locationPage p {
  margin: 1em auto;
  width: 70%;
  font-size: 13px;
}

.locationServicesButton {
  width: 80%;
  padding: 5px 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: #304674;
  color: #d8e1e8;
  border-radius: 30px;
  margin-top: 0.5em;
}

.locationServicesButton-not-allow {
  width: 80%;
  padding: 5px 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  color: #304674;
  border-radius: 30px;
  margin-top: 0.5em;
}
/* Location Services */

/* maps-overlay */
.maps-overlay-page {
  display: grid;
  grid-template-rows: 85% 15%;
  height: 100%;
}

/* maps-overlay-searchbar */
.maps-overlay-searchbar {
  position: absolute;
  top: 5%;
  left: 7%;
  width: 85%;
  background: #d8e1e8;
  margin: auto;
  border-radius: 20px;
  z-index: 10;
  box-shadow: 2px 2px 2px grey;
}

.maps-overlay-searchbar-row {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}

.maps-overlay-searchbar-row input {
  flex: 1;
  height: 10%;
  background: transparent;
  border: 0;
  outline: 0;
  color: #756c6c;
}

.maps-overlay-searchbar-icon {
  cursor: pointer;
}
/* maps-overlay-searchbar */

/* maps-overlay-navbar */
.maps-overlay-navbar {
  background-color: #304674;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.maps-overlay-navItem {
  margin: 0.7em 0;
  cursor: pointer;
  width: 15%;
}

.maps-overlay-navItem h5 {
  margin: 0;
  color: #e3e3e3;
}
/* maps-overlay-navbar */
/* maps-overlay */

/* map */
.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.map-container {
  width: 100%;
  height: 75vh;
}
/* map */

/* saved-overlay */
.saved-overlay-page {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  height: 100%;
}

.page-header {
  background-color: #304674;
  color: #dbab00;
  border-radius: 15px 15px 0 0;
}

.page-header h3 {
  font-size: 1.5em;
  margin-top: 3%;
}

/* saved-overlay */

/* saved-list */
.saved-list h3 {
  margin: 0.5em 0;
  font-weight: bold;
}

.saved-list p {
  margin: 0.5em 0;
}

.saved-list {
  text-align: left;
  padding: 1em 2em;
  overflow: scroll;
  overflow-x: hidden;
}

.saved-list-item {
  margin-bottom: 1em;
  padding-left: 0.5em;
  border: solid black 1px;
  display: grid;
  grid-template-columns: 80% 20%;
  border-radius: 5px;
}

.saved-arrow {
  position: relative;
  top: 40%;
  left: 30%;
  cursor: pointer;
}
/* saved-list */

/* search-main */
.search-main h2 {
  font-weight: bold;
  margin: 0.5em;
}

.search-main img {
  width: 60%;
}

.search-desc {
  color: #5c5c5c;
  font-weight: bold;
  margin: auto;
  width: 60%;
  text-align: left;
}

.search-desc p {
  margin: 0;
  margin-top: 0.7em;
}

.search-desc-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-endBtn {
  margin-top: 1em;
  width: 70%;
  height: 35px;
  border-radius: 10px;
  background-color: #304674;
  color: white;
  font-weight: bold;
  font-size: large;
}
/* search-main */

/* mapsPopup */
.mapsPopup {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #d8e1e8;
  overflow: scroll;
  overflow-x: hidden;
}

.mapsPopup-list h3 {
  margin: 0.5em 0;
  font-weight: bold;
}

.mapsPopup-list p {
  margin: 0.5em 0;
}

.mapsPopup-list {
  text-align: left;
  padding: 1em 2em;
  height: 100%;
}

.mapsPopup-list-item {
  margin-bottom: 1em;
  padding-left: 0.5em;
  border: solid black 1px;
  display: grid;
  grid-template-columns: 80% 20%;
  border-radius: 5px;
}

.mapsPopup-arrow {
  position: relative;
  top: 40%;
  left: 30%;
  cursor: pointer;
}
/* mapsPopup */

/* profile main */
.profile-main{
  /* text-align: middle; */
  padding: 1em 2em;
  overflow: scroll;
  overflow-x: hidden;
}

.profileButton {
  margin-top: 1em;
  width: 70%;
  height: 35px;
  border-radius: 15px;
  background-color: #304674;
  color: #DBAB00;
  font-weight: bold;
  font-size: large;
}

.profilePreferences{
  text-align: left;
  margin-bottom: 1em;
  padding-left: 0.5em;
  /* border: solid black 1px; */
  display: grid;
  grid-template-columns: 80% 20%;
  border-radius: 5px;
  background-color: white;
}

.preferenceButtonContainer {
  display: flex;
  justify-content: space-evenly;
  /* gap: 1em; */
  align-items: center;
}

.preferenceLeftButton,
.preferenceRightButton {
  height: 130px;
  width: 150px;
  /* border-radius: 15px; */
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  margin-left: 2em;
  margin-bottom: -1em;
}

.preferenceLeftButton {
  background-image: url('/public/images/distance.svg');
  margin-left: 3em;
}

.preferenceRightButton {
  background-image: url('/public/images/cost.svg');
}

/* Styles for the dropdown button */
.dropbtn {
  background-color: #B2CBDE;
  color: #1E1E1E;
  padding: 5px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-bottom: 2em;
  margin-left: 1em;
  width: 300px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
}

/* Container for positioning */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: solid #666363 1px;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.2);
  margin-left: 1.7em;
  margin-top: -1.8em;
  z-index: 1;
  width: 275px;
  top: 100%; /* Position the dropdown options below the button */
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styles for the dropdown options */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #666363
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
